@import './../../commonStyles.css';

.widget-container {
    margin: 10px 0;
}

.center-align {
    text-align: center;
}

.label-text {
    margin-right: 10px;
}

.hidden-input {
    visibility: hidden;
}

.progress-bar {
    width: 100%;
    margin: 10px 0;
}