/* Containers */
.page-container {
    padding: 0.5rem;
}

.section-container {
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin-top: 0.4rem;
    overflow-y: auto;
}

.section-container input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: scroll;
}

/* Tables */
.table-container {
    margin-top: 0.6rem;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #000000;
}

.table-container thead th {
    position: sticky;
    top: 0;
    z-index: 0;
    padding: 4px;
    border: 1px solid #dddddd;
}

.table-container thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.table-container tbody td {
    padding: 4px;
    border: 1px solid #dddddd;
}

.table-container td {
    text-align: left;
}

.table-container td.question,
.table-container td.answer {
  text-align: left;
}

.card-table-container th:nth-child(1),
.card-table-container td:nth-child(1) {
    width: 4%;
}

.card-table-container th:nth-child(2),
.card-table-container td:nth-child(2) {
    width: 46%;
}

.card-table-container th:nth-child(3),
.card-table-container td:nth-child(3) {
    width: 46%;
}

.card-table-container th:nth-child(4),
.card-table-container td:nth-child(4) {
    width: 4%;
}
/* Forms */
.login-form-input {
    width: 500px !important;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}

input[type="text"] {
    max-width: 100%;
    box-sizing: border-box;
}

input.half-width {
    width: 50%;
}

.radio-container {
    display: flex;
    flex-direction: column;
}

.radio-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100px;
}

.radio-row input[type="radio"] {
    margin-right: 10px;
    align-self: flex-start;
    width: 24px;
}

.radio-row label {
    align-self: flex-start;
}

/* Buttons */
.button {
    background-color: #4A90E2;
    color: white;
    padding: 0.5rem 1rem;
    margin: 6px 2px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #050e14;
}

.button:hover {
    background-color: #357ABD;
}

.header-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: grey;
    text-decoration: underline;
    cursor: pointer;
}

.button-group-top {
    display: flex;
    margin-top: 0;
    padding-top: 0;
    justify-content: space-between;
    height: 20px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.main-menu-button-group {
    display: flex;
    justify-content: left;
}

.login-button-group {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.view-sessions-button-group {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/* Miscellaneous */
.progress-bar {
    width: 100%;
    margin: 10px 0;
}

.center-align {
    text-align: center;
}

.hidden-element {
    visibility: hidden;
}

.training-results-table {
    border-collapse: collapse;
    width: 100%;
}

.training-results-table th,
.training-results-table td {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}

.correct-row {
    background-color: #90EE90;
}

.incorrect-guess {
    background-color: red;
}

.results-header {
    margin: 0;
    padding: .25rem;
}

.current-page {
    color: #4A90E2;
    font-size: 1.17em;
    font-weight: bold;
}

.current-subject {
    color: #4A90E2;
    font-size: 1em;
    font-weight: bold;
}

/* Typography */
.color-blue {
    color: #4A90E2;
}

.input-label {
    margin-right: 10px;
}

#card-id-to-follow,
#id-input-field {
    margin: 5px 5px;
    width: 40px;
}
